@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("./assests/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between;
    margin:auto;
    display: flex;
    align-items: center;
    height: 100px;
}
nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index:1;
}
nav button{
    position: relative;
    z-index: 1;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 22px;
    padding: 0 31px;
}
.hero> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size:48px ;
    text-align: center;
}
.hero> :nth-child(2){
        font-weight: 400px;
        font-size: 24px;
       text-align: center;
}
.hero>:nth-child(3){
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}
.sepration{
    height: 8px;
    background-color:rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.btn{
    padding:  3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248,243,243,0.01);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    
}
.btn-red{
    color: white;
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.hero-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.main input{
    padding: 7px 101px 8px  15px;
    color: white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(23,23,23,0.5) ;
}   

.btn-red-sm{
    background-color: red;
    color: white;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position:absolute;
    top: 51px;
    right: 0;
    width: 490px;
}
section.first>div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
    font-weight: bolder;
}
.faq{
    background-color: black;
    color: white;
    font-size: 24px;
}
.faqbox:hover{

    background-color: rgb(74, 71, 71);

}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    color: white;
    transition: all 0.1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color:rgb(46, 44, 44);;
    padding: 25px;
    max-width: 60vw;
    margin:35px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
        padding: 34px 0;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
@media screen and (max-width:1300px)  {
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 300px;
       
    }
    .secImg video{
       
        width: 300px;
    }
    .hero> :nth-child(1){
        font-size:32px ;
    }
    .hero> :nth-child(2){
        font-size:18px ;
    }
    .hero> :nth-child(3){
        font-size:18px ;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .hero-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-items{
        align-items: center;
    }
}



.footer-items{
    display: flex;
    flex-direction: column;
    gap: 23px;
}